body {
  background-color: rgb(19, 41, 75);
}
.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

#no-select {
  -webkit-user-select: none;
  cursor: not-allowed;
  pointer-events: none;
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
